@import url('https://fonts.googleapis.com/css?family=ZCOOL+XiaoWei&display=swap');
:root{
--white-color: rgb(228, 226, 229);
--dark-color: rgb(5, 5, 5);
--dark-color-transparent: rgba(5, 5, 5, 0.664);
--blue-color: rgb(74, 67, 141);
--blue-color-transparent: rgba(113, 103, 204, 0.459);
--grey-color: rgb(104, 103, 107);
--green-color: rgb(54, 90, 63);
--red-color: rgb(133, 69, 69);
}

body{
    margin: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    background-color: var(--white-color);
}

.introductory-block{
    background-image: url('../img/navbar-bg-pic.jpg');
    background-size: cover;
    height: 100%;
}

.container{
    display: flex;
    flex-direction: row;
}
.container-vertical{
    display: flex;
    flex-direction: column;
}

a{
    text-decoration: none;
    color: var(--white-color);
}
.expl-to-do{
    font-family: 'ZCOOL XiaoWei', serif;
}
.announce-brand{
   color: rgb(115, 206, 183); 
   margin-right: 0px;
}
.it-brand{
   color: rgb(159, 133, 228); 
   margin-left: 0px;
}
.brand{
    font-weight: bolder;
}
.brand-show{
font-size: 50px;
}

.forms-container{
    background: var(--dark-color-transparent);
    padding: 40%;
    margin-top: 5%;
    height: 30%;
    margin-left: 60%;
    border-radius: 10px;
}
input,textarea{
    width: 100%;
    border: none;
    border-bottom: 1px solid rgb(255, 255, 255);
    background: transparent;
    font-size: 16px;
    font-weight: bolder;
    padding: 10px 0;
    outline: none;
    color: rgba(255, 255, 255);
    margin-bottom: 40px;
}
button{
    border: none;
    color: var(--white-color);
    line-height: 40px;
    margin-bottom: 25px;
    outline: none;
}


/*navbar*/
.nav{
    margin: 0px 30px 0px 0px;
}
/* NAVBAR */
nav {
  display: inline-block;
  text-align: right;
  justify-content: flex-end;
  flex: 2;
}

nav ul {
  list-style-type: none;
  margin-right: 2%;
}
nav li {
  display: inline-block;
}
nav a {
  font-size: 1.4em;
  color: rgb(190, 200, 188);
  padding-bottom: 1px;
  text-decoration: none;
  margin-right: 12px;
}
nav a:hover {
  color: aliceblue;
  text-decoration: none;
}

footer{
    background-color: var(--dark-color);
    color: var(--white-color);
    position: fixed;
    right: 0px;
    bottom: 0px;
    left: 0px;
}
.profile-heading{
    background: url('../img/profile-heading.jpeg');
}
.search-bar{
    justify-content: center;
}
.profile-details{
    height:100%;
    justify-content: flex-start;
    width: 20%;
    margin-top: -80px;
}
.default-pp{
    width: 100%;
    height: 200px;
}
.list{
    height: 100%;
    margin-top: -80px;
    justify-content: flex-end;
    width: 80%;
}

.list-of-announcements{
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 320px;
}

.list-of-announcements thead tr{
    background-color: var(--grey-color);
    color: var(--white-color);
    text-align: left;
}

.list-of-announcements th, .list-of-announcements td{
    padding: 10px 15px;
}

.list-of-announcements tbody tr{
    border-bottom: 1px solid rgb(184, 182, 182);
}

.list-of-announcements tbody tr:nth-of-type(even){
    background-color: rgb(184, 182, 182);
}
.list-of-announcements tbody tr:hover{
    cursor: pointer;
    background-color: var(--grey-color);
}

.hand-cursor{
cursor: pointer;
}

.entrance-pages{
    background: url('../img/signin-signup-bg.webp');
    background-size: cover;
}
.option-hovered:hover{
    background-color: var(--dark-color);
    color: var(--white-color);
    font-size: 20px;
    transition: background 0.5s linear,font-size 0.5s linear;
}

/* backgrounds */
.bg-dark{
    background-color: var(--dark-color);
    color: var(--white-color);
}
.bg-white{
    background-color: var(--white-color);
    color: var(--dark-color);
}
.bg-dark-transparent{
    background-color: var(--dark-color-transparent);
    color: var(--white-color);
}
.bg-blue-transparent{
    background-color: var(--blue-color-transparent);
    color: var(--white-color);
}
.bg-blue{
    background-color: var(--blue-color);
    color: white;
}
.bg-green{
    background-color: var(--green-color);
    color: var(--white-color);
}
.bg-red{
    background-color: var(--red-color);
    color: var(--white-color);
}

/* widths and height */
.width-100{
    width: 100%;
    margin: auto;
}
.width-90{
    width: 90%;
    margin: 0 auto;
}
.width-80{
    width: 80%;
    margin: 0 auto;
}
.width-60{
    width: 60%;
    margin: auto;
}
.width-40{
    width: 40%;
    margin: auto;
}
.width-20{
    width: 20%;
    margin: auto;
}
.width-10{
    width: 10%;
    margin: auto;
}
.width-5{
    width: 5%;
    margin: auto;
}
.heigth-50{
    height: 50px;
}
.height-100{
    height: 100px;
}
.heigth-200{
    height: 200px;
}
.heigth-400{
    height: 400px;
}

/* paddings and margins */
.padding-5{
    padding: 5px;
}
.padding-10{
    padding: 10px;
}
.margin-right-5{
    margin-right: 5%;
}
.margin-left-5{
    margin-left: 5px;
}
.margin-top-10{
    margin-top: 10%;
}
.margin-top-5{
    margin-top: 5%;
}
.margin-bottom-5{
    margin-bottom: 5%;
}
.margin-right-10{
    margin-right: 10%;
}
.margin-left-40{
    margin-left: 40%;
}

/* text sizes*/
.text-15{
    font-size: 15px;
}
.text-17{
    font-size: 17px;
}
.text-20{
    font-size: 20px;
}
.text-22{
    font-size: 22px;
}
.text-30{
    font-size: 30px;
}

/* text-colors */
.text-blue{
    color: var(--blue-color);
}

/*positions*/
.centered-element-h-v{
    margin: auto auto auto auto;
}
.centered-element-h{
    justify-content: center;
}
.text-center{
    text-align: center;
}
.position-right{
    margin-left: auto;
}
/* borders */
.white-bordered-1{
    border: 1px solid var(--white-color);
}
.white-bordered-1-bottom{
    border-bottom: 1px solid var(--white-color);
}
.dark-bordered-1{
    border: 1px solid var(--dark-color);
}

.rounded-corner-30{
    border-radius: 30px;
}
.rounded-corner-15{
    border-radius: 15px;
}

.entrance-button{
    margin:-30px auto;
    text-align: center;
}