@import url('https://fonts.googleapis.com/css?family=Caveat|Dancing+Script|Pacifico&display=swap');
:root{
--white-color: rgb(228, 226, 229);
--dark-color: rgb(5, 5, 5);
--dark-color-transparent: rgba(5, 5, 5, 0.664);
--blue-color: rgb(157, 147, 241);
}

body{
    margin: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    background-color: var(--white-color);
}

.introductory-block{
    background-image: url('../img/navbar-bg-pic.jpg');
    background-size: cover;
    height: 100%;
}

.container{
    display: flex;
    flex-direction: row;
}

a{
    text-decoration: none;
    color: var(--white-color);
}
.expl-to-do{
    font-family: 'Caveat', cursive;
}
.announce-brand{
   color: rgb(115, 206, 183); 
   margin-right: 0px;
}
.it-brand{
   color: rgb(159, 133, 228); 
   margin-left: 0px;
}
.brand{
    font-weight: bolder;
}

.forms-container{
    background: var(--dark-color-transparent);
    padding: 40%;
    margin-top: 5%;
    height: 30%;
    margin-left: 60%;
    border-radius: 10px;
}
input{
    width: 100%;
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    font-size: 16px;
    font-weight: bolder;
    padding: 10px 0;
    outline: none;
    color: rgba(255, 255, 255);
    margin-bottom: 40px;
}
button{
    border: none;
    color: var(--white-color);
    line-height: 40px;
    margin-bottom: 25px;
    outline: none;
}

footer{
    background-color: var(--dark-color);
    color: var(--white-color);
}

.hand-cursor{
cursor: pointer;
}

.entrance-pages{
    background: url('../img/signin-signup-bg.webp');
    background-size: cover;
}
/* backgrounds */
.bg-dark{
    background-color: var(--dark-color);
    color: var(--white-color);
}
.bg-dark-transparent{
    background-color: var(--dark-color-transparent);
    color: var(--white-color);
}

/* widths and height */
.width-100{
    width: 100%;
}
.width-90{
    width: 90%;
}
.width-80{
    width: 80%;
}
.width-60{
    width: 60%;
}
.width-40{
    width: 40%;
}
.width-20{
    width: 20%;
}
.height-100{
    height: 100%;
}
.heigth-200{
    height: 400px;
}

/* paddings and margins */
.padding-5{
    padding: 5px;
}
.padding-10{
    padding: 10px;
}
.margin-right-5{
    margin-right: 5px;
}
.margin-left-5{
    margin-left: 5px;
}
.margin-top-10{
    margin-top: 10%;
}
.margin-top-5{
    margin-top: 5%;
}
.margin-bottom-5{
    margin-bottom: 5%;
}
.margin-right-10{
    margin-right: 10%;
}
.margin-left-40{
    margin-left: 40%;
}

/* text sizes*/
.text-30{
    font-size: 30px;
}
.text-15{
    font-size: 15px;
}

/* text-colors */
.text-blue{
    color: var(--blue-color);
}

/*navbar*/
.nav{
    margin: 0px 30px 0px 0px;
}

/*positions*/
.centered-element-h-v{
    margin: auto;
}
.centered-element-h{
    justify-content: center;
}
.text-center{
    text-align: center;
}
.position-right{
    margin-left: auto;
}
/* borders */
.white-bordered-1{
    border: 1px solid var(--white-color);
}
.white-bordered-1-bottom{
    border-bottom: 1px solid var(--white-color);
}
.dark-bordered-1{
    border: 1px solid var(--dark-color);
}

.rounded-corner-30{
    border-radius: 30px;
}
.rounded-corner-15{
    border-radius: 15px;
}

.entrance-button{
    margin:-30px auto;
    text-align: center;
}